.navigation {
    &__checkbox {
        display: none;
    }
    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 7rem;
        right: 7rem;
        border-radius: 50%;
        z-index: 2000;
    }
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right:6.5rem;
        z-index: 1000;
        transform: scale(70);
        background-image: radial-gradient($color-primary-light,$color-primary-dark);


    }
    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
    }
    &__list {
      @include centerDiv;
      list-style: none;
    }
    &__item {
        margin: 1rem;

    }&__link {
        &:link,
        &:visited {
        display: inline-block;
        font-size: 3rem;
        padding: 1rem 2rem;
        background-size: 220%;
        font-weight: 300;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .4s;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%,$color-white 50%);
            span {
                display: inline-block;
                margin-right: 1.5rem;

            }
    }
        &:hover,&:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }
}