.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    font-size: 2rem;
    color: #fff;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light, $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
            to right bottom,
            $color-tertiary-light, $color-tertiary-dark
          );
      }
    }
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
}
