.form {
    &__group:not(:last-child) { 
        margin-bottom: 2rem;
    }
    &__input {
        font-size: 1.5em;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border:none;
    }

    &__input:focus {
        outline:none;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
        border-bottom: .3rem  solid $color-primary;

    }
    &::-webkit-input-placeholder {
        color: $color-grey-dark-2 ;
    }
}