.story { 
   width: 75%;
   margin:  0 auto;
   box-shadow: 0 3rem 6rem rgba($color-black, .1);
   background-color:$color-white;
   border-radius: .3rem; 
   padding : 6rem;
   padding-left: 12rem;
   font-size: $default-font-size;

   &__shape { 
       width: 15rem;
       height: 15rem;
       float: left;
       --webkit-shape-outside: circle(50% at 50% 50%);
       shape-outside: circle(50% at 0% 50%);
       clip-path:  circle(50% at 50% 50%);
       --webkit-clip-path:  circle(31% at 50% 50%);
       transform: translateX(-9rem);
    //    background-position: cover;
   }
   &__img {
       height: 100%;
   }
}